<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
	<div class="container">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="#!/"><img src="assets/admin/layout3/img/logo-default.png" alt="logo" class="logo-default"></a>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler"></a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li ui-route="/signin" ng-class="{active: $uiRoute}"  data-ng-hide="authentication.user">
					<a href="/#!/signin">Ingresar</a>
				</li>
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown dropdown-user dropdown-dark"  data-ng-show="authentication.user">
					<a href="javascript:;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
					<img alt="" class="img-circle" src="assets/admin/layout3/img/avatar9.jpg">
					<span class="username username-hide-mobile">{{authentication.user.displayName}}</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="#!/settings/profile">
							<i class="icon-user"></i> Mi cuenta </a>
						</li>
						<li>
							<a href="#!/settingempresas/create">
							<i class="icon-user"></i> Configuración Empresa </a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="auth/signout">
							<i class="icon-key"></i> Salir </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu" >
	<div class="container">
		<!-- BEGIN MEGA MENU -->
		<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
		<!-- DOC: Remove dropdown-menu-hover and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
		<div class="hor-menu">
			<ul class="nav navbar-nav"   data-ng-show="authentication.user">
				<li class="active">
					<a href="#/dashboard.html">Tablero de Comando</a>
				</li>
				<li class="menu-dropdown mega-menu-dropdown ">
					<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="#" class="dropdown-toggle">
					Ventas <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu" style="min-width: 410px">
						<li>
							<div class="mega-menu-content">
								<div class="row">
									<div class="col-md-6">
										<ul class="mega-menu-submenu">
											<li>
												<h3>Atajos</h3>
											</li>
											<li>
												<a href="#!/facturas/create" class="iconify">
												<i class="icon-puzzle"></i>
												Emitir Factura </a>
											</li>
											<li>
												<a href="#/file_upload.html" class="iconify">
												<i class="icon-paper-clip"></i>
												Emitir Recibo </a>
											</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="mega-menu-submenu">
											<li>
												<h3>Gestión</h3>
											</li>
											<li>
												<a href="#" class="iconify">
												<i class="icon-cursor-move"></i>
												Facturas</a>
											</li>
											<li>
												<a href="#" class="iconify">
												<i class="icon-pin"></i>
												Recibos </a>
											</li>
											<li>
												<a href="#!/clientes" class="iconify">
												<i class="icon-bar-chart"></i>
												Clientes </a>
											</li>
											<li>
												<a href="#" class="iconify">
												<i class="icon-bar-chart"></i>
												Proveedores </a>
											</li>

											<li>
												<a href="#!/productos" class="iconify">
												<i class="icon-bar-chart"></i>
												Productos/Servicios </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!--li class="menu-dropdown mega-menu-dropdown mega-menu-full ">
					<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
					jQuery <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<div class="mega-menu-content">
								<div class="row">
									<div class="col-md-3">
										<ul class="mega-menu-submenu">
											<li>
												<h3>jQuery Integration</h3>
											</li>
											<li>
												<a href="#/form-tools">
													<i class="icon-puzzle"></i> Form Tools
												</a>
											</li>
											<li>
												<a href="#/pickers">
													<i class="icon-calendar"></i> Date & Time Pickers
												</a>
											</li>
											<li>
												<a href="#/dropdowns">
													<i class="icon-refresh"></i> Custom Dropdowns
												</a>
											</li>
											<li>
												<a href="#/tree">
													<i class="icon-share"></i> Tree View
												</a>
											</li>
											<li>
												<a href="#/datatables/advanced.html">
												<i class="icon-tag"></i> Advanced Datatables
												</a>
											</li>
											<li>
												<a href="#/datatables/ajax.html">
												<i class="icon-refresh"></i> Ajax Datatables
												</a>
											</li>
										</ul>
									</div>
									<div class="col-md-3">
										<ul class="mega-menu-submenu">
											<li>
												<h3>Sample Column</h3>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link <span class="badge badge-roundless badge-danger">new</span></a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link </a>
											</li>
										</ul>
									</div>
									<div class="col-md-3">
										<ul class="mega-menu-submenu">
											<li>
												<h3>Sample Column</h3>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link </a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link<span class="badge badge-roundless badge-success">new</span></a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
										</ul>
									</div>
									<div class="col-md-3">
										<ul class="mega-menu-submenu">
											<li>
												<h3>Sample Column</h3>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
											<li>
												<a href="#">
												<i class="fa fa-angle-right"></i>
												Sample Link</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="menu-dropdown classic-menu-dropdown ">
					<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
					Pages <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu pull-left">
						<li>
							<a href="#/profile/dashboard" id="sidebar_menu_link_profile">
								<i class="icon-user"></i>
								User Profile 
							</a>
						</li>
						<li>
							<a href="#/todo">
								<i class="icon-check"></i>
								Task & Todo 
							</a>
						</li>
						<li class=" dropdown-submenu">
							<a href="javascript:;">
							<i class="icon-puzzle"></i>
							Multi Level </a>
							<ul class="dropdown-menu">
								<li class=" ">
									<a href="javascript:;">
									<i class="icon-settings"></i>
									Item 1 </a>
								</li>
								<li class=" ">
									<a href="javascript:;">
									<i class="icon-user"></i>
									Item 2 </a>
								</li>
								<li class=" ">
									<a href="javascript:;">
									<i class="icon-globe"></i>
									Item 3 </a>
								</li>
								<li class=" dropdown-submenu">
									<a href="#">
									<i class="icon-folder"></i>
									Sub Items </a>
									<ul class="dropdown-menu">
										<li class=" ">
											<a href="javascript:;">
											Item 1 </a>
										</li>
										<li class=" ">
											<a href="javascript:;">
											Item 2 </a>
										</li>
										<li class=" ">
											<a href="javascript:;">
											Item 3 </a>
										</li>
										<li class=" ">
											<a href="javascript:;">
											Item 4 </a>
										</li>
									</ul>
								</li>
								<li class=" ">
									<a href="javascript:;">
									<i class="icon-share"></i>
									Item 4 </a>
								</li>
								<li class=" ">
									<a href="javascript:;">
									<i class="icon-bar-chart"></i>
									Item 5 </a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-dropdown">
					<a href="../index.html" target="_blank" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="HTML Version demo">
					HTML Version</a>
				</li-->
			</ul>
		</div>
		<!-- END MEGA MENU -->
	</div>
</div>
<!-- END HEADER MENU -->