<section data-ng-controller="LocalidadsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Localidads</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="localidad in localidads" data-ng-href="#!/localidads/{{localidad._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="localidad.created | date:'medium'"></span>
				by
				<span data-ng-bind="localidad.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="localidad.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!localidads.$resolved || localidads.length">
    	No Localidads yet, why don't you <a href="/#!/localidads/create">create one</a>?
    </div>
</section>