<section class="login" data-ng-controller="PasswordController">
	<div class="content">
		<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="forget-form" data-ng-submit="askForPasswordReset()" method="post">
			<h3>Olvido su contraseña?</h3>
			<p>
				 Ingrese su dirección email para resetear su contraseña.
			</p>
			<div class="form-group">
				<input type="text" id="username" name="username" class="form-control placeholder-no-fix" data-ng-model="credentials.username" placeholder="Username"  placeholder="Email" name="email" required>
			</div>
			<div class="form-actions">
				<a href="/#!/signin" class="btn btn-default">Volver</a>
				<button type="submit" class="btn btn-success uppercase pull-right">Enviar</button>
			</div>
				<div data-ng-show="error" class="alert alert-danger">
					<button class="close" data-close="alert"></button>
					<span>{{error}}</span>
				</div>
				<div data-ng-show="success" class="alert alert-success">
					<button class="close" data-close="success"></button>
					<span>{{success}}</span>
				</div>		
		</form>
	<!-- END FORGOT PASSWORD FORM -->
	</div>

</section>