<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus-circle font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Gestión de productos</span>
                
        </div><div class="pull-right">
                        <a class="btn green-meadow" ng-href="/#!/productos/create">Agregar Producto</a>
                </div>
    </div>
    <div class="portlet-body"  ng-controller="ProductosController"  data-ng-init="find()">
        <table datatable="ng" class="table table-striped table-bordered table-hover" dt-options="dtOptions" dt-columns="dtColumns" >
            <thead>
            <tr>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>U.Medida</th>
                <th>Precio</th>
                <th>IVA</th>
                <th style="width:100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in productos">
                <td>{{ row.tipoconcepto.name }}</td>
                <td>{{ row.name}}</td>
                <td>{{ row.unidadmedida.name }}</td>
                <td>{{ row.precio }}</td>
                <td>{{ row.tipoiva.name }}</td>
                <td>
                    <a href="/#!/productos/{{row._id}}/edit" class="btn btn-sm btn-info"  tooltip-placement="left"  tooltip="Editar">
                    <i class="glyphicon glyphicon-edit">
                    </i>
                </a>
                <button type="button" ng-click="confirmRemove(row)"  class="btn btn-sm btn-danger" tooltip-placement="left"  tooltip="Eliminar">
                    <i class="glyphicon glyphicon-trash">
                    </i>
                </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



