<section data-ng-controller="DepartamentosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Departamentos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="departamento in departamentos" data-ng-href="#!/departamentos/{{departamento._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="departamento.created | date:'medium'"></span>
				by
				<span data-ng-bind="departamento.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="departamento.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!departamentos.$resolved || departamentos.length">
    	No Departamentos yet, why don't you <a href="/#!/departamentos/create">create one</a>?
    </div>
</section>